<div class="container">
  <!-- <header-i18n showLangText="false" class="langs"></header-i18n> -->
  <div class="wrap">
    <div class="top">
      <div class="head">
        <!-- <img class="logo" src="./assets/logo.png" /> -->
        <span class="title">NEXT OA</span>
      </div>
      <!-- <div class="desc">nextoa</div> -->
    </div>
    <router-outlet></router-outlet>

  </div>
  <!-- <div>
    <i class="anticon anticon-user"></i>
    <i class="anticon anticon-dashboard"></i>
    <i class="anticon anticon-safety"></i>
    <i class="anticon anticon-apartment"></i>
  </div> -->
  <global-footer [links]="links">
    CopyRight
    <i class="anticon anticon-copyright"></i> 2020 NEXT OA
  </global-footer>
</div>
