<page-header></page-header>
<div sg-container="2" gutter="8">
  <!-- <sg>
    <nz-card style="height:300px;">
      <g2-pie height="280" [hasLegend]="true" title="合同执行情况" subTitle="合同执行情况" total="3000" [data]="contractPieData">
      </g2-pie>
    </nz-card>
  </sg>
  <sg>
    <nz-card style="height:300px;">
      <g2-bar height="280" [title]="'销售额趋势'" [data]="salesData"></g2-bar>
    </nz-card>
  </sg> -->

</div>

<div sg-container="1">
  <sg>
    <nz-card style="height:400px;">
      <h1>It's nextoa Dashboard.</h1>
    </nz-card>
  </sg>

</div>
