<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button (click)="add()" nz-button nzType="primary">新建</button>
  </ng-template>
</page-header>
<nz-card>
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="12">
      <sf mode="search" [schema]="searchSchema" (formSubmit)="st.reset($event)" (formReset)="st.reset($event)"></sf>
      <st #st [data]="url" [columns]="columns" (change)="roleSelect($event)"></st>
    </div>
    <div nz-col nzSpan="12">
      <nz-tabset [nzSelectedIndex]="selectedTabIndex" (nzSelectedIndexChange)="tabChange($event)">
        <nz-tab nzTitle="用户">
          <st #bindUserSt [header]="userToolbar" [data]="getUsersByRoleUrl" [req]="getUsersByRoleReq"
            [columns]="getUsersByRoleCols" (change)="userSelect($event)"></st>
          <ng-template #userToolbar>
            <sf mode="search" nz-col [schema]="searchSchema" [button]="null">
              <button (click)="st.reset($event)" nz-button nzSize="default" nzType="primary">查询</button>
              <button (click)="st.reset($event)" nz-button nzSize="default">重置</button>
              <button (click)="bindUsers()" nz-button nzSize="default" nzType="link">绑定人员</button>
              <nz-divider nzType="vertical"></nz-divider>
              <button (click)="unbindUsers()" nz-button nzSize="default" nzType="link">解绑人员</button>
            </sf>
          </ng-template>
        </nz-tab>
        <nz-tab nzTitle="菜单">
          <nz-empty *ngIf="!selectedRoleId"></nz-empty>
          <div *ngIf="selectedRoleId">
            <button nz-button nzType="primary" (click)="bindMenus()">保存</button>
            <nz-card nzBordered="false">
              <nz-tree #menuTree [nzExpandAll]="true" [nzData]="menusTreeData" nzCheckable nzMultiple> </nz-tree>
            </nz-card>
          </div>
        </nz-tab>
        <nz-tab nzTitle="权限">
          <nz-empty *ngIf="!selectedRoleId"></nz-empty>
          <div *ngIf="selectedRoleId">
            <button nz-button nzType="primary" (click)="bindPermissions()">保存</button>
            <nz-table #permissionTable nzSize="small" [nzData]="permissionsData" [nzShowPagination]='false'>
              <thead>
                <tr>
                  <th nzShowCheckbox (nzCheckedChange)="checkPermissionsAll($event)"></th>
                  <th>权限名称</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of permissionsData">
                  <td nzShowCheckbox [(nzChecked)]="data.checked"></td>
                  <td>{{ data.name }}</td>
              </tbody>
            </nz-table>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>
</nz-card>
